
    <hr>
    <h2>Commentaires</h2>

    <textarea></textarea>
    <br>
    <a href="{{ path('nl_platform_edit', {'id': advert.id}) }}" class="btn btn-default">
        <i class="glyphicon glyphicon-edit"></i>
        Envoyer
    </a>
